.slider-container{
    height: 35rem;
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: 1rem;
    overflow: hidden;
}
.active {
    display: inline-block;
}

.inactive{
    display: none;
}
.slides{
    height: 70%;
    width: 100%;
    position: relative;
}
.slide-image{
    width: 100%;
    height: auto;
    position: absolute;
    object-fit: cover;
}
.slide-title{
    width: 100%;
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 8rem;
    left: 5rem;
    z-index: 10;
}
.slide-text {
    top : 12rem;
    font-size: 2rem;
}
.prev, .next{
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -3rem;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
}

.prev:hover, .next:hover{
    color: white;
    background-color: rgba(0,0,0,0.6);
    transition: all 0.5s ease-in;
}

.next{
    right: 0;
    border-radius: 5px 0px 0px 5px;
}

.all-dots {
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 2rem;
    justify-content: center;
    z-index: 10;
}
.dot{
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    margin: 0rem 0.3rem;
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
    display: inline-block;
}
.active-dot, .dot:hover{
    background-color: rgba(255,255,255,0.5);
}
@media only screen and (max-width: 1024px) {
    .slider-container{
        height: 18rem;
    }


}
