@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

$primary-color: #ff4f6c;

.container {
	margin: 5rem 2rem;
	padding: 2rem 3rem;
	border: 2px solid #e6e6e6;
	border-radius: 0.35rem;
	button {
		padding: 1rem 3rem;
		font-size: 1.6rem;
		background-color: $primary-color;
		color: white;
		border: 2px solid #e6e6e6;
		border-radius: 0.35rem;
		cursor: pointer;
	}
	label {
		display: flex;
        justify-content: space-between;
		position: fixed;
		background-color: #84f1c9;
		color: #1b7052;
		top: 1rem;
		right: 1rem;
		font-size: 1.6rem;
		padding: 1rem 1rem 1rem 1rem;
		width: 25%;
		border-radius: 0.35rem;
		z-index: 5;
        .icon{
            font-size: 1.6rem;
            cursor: pointer;
        }
	}
}
