@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css';

.form-label{
    width: 60%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
}
.form-username{
    flex-basis: 8rem;
    font-size: 16px;
}
.form-input{
    flex-grow: 1;
    padding: 0.5rem 1rem;
    outline: none;
}
.form-label-password{
    position: relative;
}
.icon{
    position: absolute;
    font-size: 19px;
    right: 1rem;
    cursor: pointer;
}