@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

.listingList {
	display: flex;
	margin: 1rem auto;
	width: 100% - 30%;
	span {
		font-size: 20px;
		margin-right: 3rem;
		width: 30%;
	}
	.like-icon {
		font-size: 20px;
		color: rgb(233, 66, 169);
        cursor: pointer;
	}
}
